name: Deploy to GitHub Pages
on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0'

      - name: Publish Project
        run: dotnet publish WebAssembly/Chip8Web/Chip8Web.csproj -c Release -o release --force

      - name: Remove Fingerprinting Manually
        run: |
          cd release/wwwroot/_framework
          # Find the hashed file and rename it to the clean version
          mv blazor.webassembly.*.js blazor.webassembly.js || true
          mv blazor.webassembly.*.js.gz blazor.webassembly.js.gz || true
          mv blazor.webassembly.*.js.br blazor.webassembly.js.br || true
        shell: bash

      - name: Change base-tag in index.html
        run: sed -i 's/<base href="\/" \/>/<base href="\/Chip8-Emulator\/" \/>/g' release/wwwroot/index.html

      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages
          clean: true
