name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x' 

      - name: Publish App
        run: dotnet publish WebAssembly/Chip8Web/Chip8Web.csproj -c Release -o release --no-incremental

      - name: .nojekyll
        run: touch release/wwwroot/.nojekyll

      - name: Commit and Push to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages
